$colorwhats: #45e562b7;

.logWhats {
    color: $colorwhats
}
 /* SIN VARIABLES: */
.logXtra {
    color:  green;
}
.logIg {
    color: #DD2A7B ;
}
.logLnk {
    color : #0077B5 ;
}
.logFb {
    color:  #395592 ;

}

